<h1>Edit Comment</h1>
<%= simple_form_for([@family, @comment]) do |f| %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= f.input :content, label: "Comment" %>
      <%= f.label :confidential, "Confidential" %>
      <%= f.check_box :confidential, label: "Confidential" %>
    </li>
  </ul>
  <div class = "buttonControl">
    <%= f.button :submit %>
  </div>
<% end %>