
<h1>Edit Existing Movie</h1>

<%= form_tag(family_path(@family), :method => :put) do %>

  <%= label :family, :name, 'Name' %>
  <%= text_field :family, 'name' %>

  <%= label :family, :people, 'Members'%>
  <%= text_field :family, 'people'%>
  
  <%= label :family, :status, 'Status'%>
  <!--new/outreach member, longtime member, non member, prospective, Friend of BE, ex member, or deceased.-->
  <%= select :family, 'status', 
    options_for_select([['New','New'],['Longtime','Longtime'],['Non','Non'],['Prospective','Prospective'],
    ['Friend of BE', 'Friend of BE'], ['Ex', 'Ex'], ['Deceased', 'Deceased']
    ]) %>

  <%= label :family, :phone, 'Phone'%>
  <%= text_field :family, 'phone'%>

  <%= label :family, :email, 'Email'%>
  <%= text_field :family, 'email'%>

  <%= submit_tag 'Update Family Information'%>
  
<% end %>