<h2><%=@family.name%> Family</h2>

<p>
  <b>Members:</b>
  <%= @family.people %>
</p>

<p>  
  <b>Email:</b>
  <%= @family.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @family.phone %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %>
<%= button_to 'Delete Family', family_path(@family), method: :delete, data: { confirm: 'Are you sure you want to delete this family?' } %>
<%= link_to 'Back to family list', families_path %>

</br>

<h3>Comments:</h3>
<% @family.comments.each do |comment| %>
  <div class = "center jumbotron">
    <%= comment.content %>
    <%= link_to 'Edit', edit_family_comment_path(@family, comment) %>
  </div>
<% end %>

</br>

<h6>Add a comment:</h6>
<%= form_for ([@family, @family.comments.build]) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  
  <%= submit_tag 'Add Comment'%>
<% end %>
