<h1>Edit Existing User</h1>

<%= simple_form_for @user do |f|%>

  <%= f.input :name, label: 'Name' %>
  <%= f.input :email, label: 'Email' %>
  <%= f.input :admin, collection: [true, false], selected: @user.admin %>
  <%= f.button :submit, label: 'Update User Information' %>
<% end %>